#table {
    padding-inline: 12vh;
    color: #fff;
    min-height: 100%;
    margin-top: 20px;
    justify-content: center;
    display: flex;
}

body {
    background: rgb(40, 39, 40);
}

.table {
    border-collapse: seperate;
    border-spacing: 3px;
    color: white;
    text-align: center;
}

td {
    padding: 10px 0;
}