#table {
    padding-inline: 12vh;
    color: #fff;
    min-height: 100%;
    margin-top: 20px;
    justify-content: center;
    display: flex;
    background: #2e3136;
    margin: 30px;
    padding-inline: 30px;
}

body {
    background: rgb(40, 39, 40);
}

.table {
    border-collapse: seperate;
    border-spacing: 3px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

td {
    padding: 10px 0;
}

.cover {
    width: 50px;
}